$headercolor: #136ed6;
$headercolor-light: #458cdd;
$backgroundcolor: #f7e3e3;
$menucolor: #f17fa1;
$greencolor: #5bafa2;

$normal: #babaae;
$fighting: #a75543;
$flying: #7992c9;
$poison: #a95ca0;
$ground: #eecc55;
$rock: #ccbd72;
$bug: #c2d21e;
$ghost: #7975d7;
$steel: #c4c2db;
$fire: #fa5643;
$water: #56adff;
$grass: #8cd750;
$electric: #fde139;
$psychic: #fa65b4;
$ice: #96f1ff;
$dragon: #8673ff;
$dark: #8d6855;
$fairy: #f9aeff;
