@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin box-shadow($shadow) {
  box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
}

@mixin transition($transition) {
  -webkit-transition: #{$transition};
  -moz-transition: #{$transition};
  -o-transition: #{$transition};
  transition: #{$transition};
}

@mixin animation($animation) {
  -webkit-animation: #{$animation};
  animation: #{$animation};
}

@mixin transform($transform) {
  -webkit-transform: #{$transform};
  -ms-transform: #{$transform};
  transform: #{$transform};
}

@mixin anifloat() {
  transform: translatey(0px);
  animation: float 2s ease-in-out infinite;

  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-10px);
    }
    100% {
      transform: translatey(0px);
    }
  }
}
