@import "./mixins";
@import "./colors";
@import "./fonts";

.--desktop {
  display: none;
}

//SCROLLBAR

::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: $greencolor;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: $headercolor;
  border: 0px none #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

body {
  background-color: $backgroundcolor;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
  .--desktop {
    display: block;
  }
}
