@import "./colors";
@import "./fonts";
@import "./types";
@import "./mixins";
.battle__teams {
  @include flex(row, center, center);
  width: 700px;
  flex-wrap: wrap;
}
.battle__selector {
  height: 280px;
  width: 500px;
  flex-wrap: wrap;
  @include flex(row, center, center);
  background-image: url("../images/battlebgIndoorC.png");
}

.battle__selector-text {
  font-size: 30px;
  width: 500px;
  height: 100px;
  background-color: rgb(207, 81, 50);
  @include flex(row, center, center);

  .battle__selector-text--inner {
    @include flex(row, space-around, center);
    border-radius: 20px;
    flex-wrap: wrap;
    height: 95%;
    width: 95%;
    background-color: rgb(88, 144, 152);
  }
}

.battle__selector-pokes {
  margin: 0 40px;
  cursor: pointer;
  @include flex(row, flex-start, flex-start);
  background-repeat: no-repeat;
  background-image: url("../images/pkmn-bg.png");
  width: 126px;
  height: 55px;
  img {
    margin-left: 15px;
    object-fit: none;
    height: 53px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    @include anifloat();
  }
}
.battle__container,
.battle__selector-container {
  text-shadow: 0px 1px 1px #ffffff62;
  width: 500px;
  margin: 50px;
  font-family: $Pokemon;
}

.poke-fainted {
  display: none;
}

.block-clicks {
  pointer-events: none;
}

.battle__background {
  background-image: url("../images/battlebgField5.png");
  width: 500px;
  height: 285px;
  box-sizing: border-box;
}
.battle__player,
.battle__enemy {
  @include flex(row, space-between, center);
  @include flex(row, space-between, center);
  height: 50%;
  margin: 0 30px;
}
.player__data,
.enemy__data {
  font-size: 20px;
  width: 50%;
  border: 3px solid rgb(13, 11, 19);
  background-color: aliceblue;
  padding: 5px;
  border-radius: 20px 10px 20px 10px;
  p {
    margin: 0;
  }
}

.enemy__data-stat,
.player__data-stat {
  @include flex(row, center, center);
  p {
    margin: 0 15px;
  }
}

.enemy__text,
.player__text {
  @include flex(row, space-between, center);
}
.enemy__avatar,
.player__avatar {
  @include flex(row, center, center);
  width: 33%;
  height: 100%;
}
.battle__text {
  font-size: 30px;
  width: 500px;
  height: 100px;
  background-color: rgb(207, 81, 50);
  @include flex(row, center, center);

  .battle__text--inner {
    @include flex(row, space-around, center);
    border-radius: 20px;
    flex-wrap: wrap;
    height: 95%;
    width: 95%;
    background-color: rgb(88, 144, 152);
    span {
      cursor: default;
      text-align: center;
      .svg-msg-box {
        width: 20px;
        margin-left: 2px;
        fill: rgba(255, 0, 0, 0.515);
      }
    }
    div {
      @include flex(column, center, space-around);
      button {
        font-family: $Pokemon;
        cursor: pointer;
        font-size: 20px;
        @include flex(row, center, center);
        height: 30px;
        margin: 2px 0;
        border: 2px solid black;
        border-radius: 5px;
        padding: 15px;
        &:hover {
          background-color: aquamarine;
        }
      }
    }
  }

  .battle__atack {
    text-align: center;
  }
}
