@import "./colors";
@import "./fonts";

.btn {
  background-color: transparent;

  color: $menucolor;
  font-family: $Montserrat;
  font-weight: 700;
  font-style: bold;
  font-size: 18px;

  border: 3px solid $menucolor;
  border-radius: 20px;
  padding: 5px;
  margin: 5px;

  cursor: pointer;
}

.btn-type {
  font-size: 12px;
  width: 70px;
  margin: 2px;
  text-align: center;
  border-radius: 10px;
  text-shadow: 1px 1px #000000;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 1);
}
