@import "./mixins.scss";

.main__logo {
  width: 700px;
  margin: 20px 100px;
}

main {
  position: relative;
  min-height: calc(100vh - 40px);
  @include flex(column, center, center);
}

@media only screen and (min-width: 768px) {
  main {
    @include flex(column, center, flex-end);
  }
}
