@import "./mixins";
@import "./colors";
@import "./fonts";

.abstract__sprite {
  position: relative;
  .svg-container {
    @include flex(row, center, center);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    svg {
      width: 70%;
      height: 70%;
    }
  }
}
