@import "./mixins";
@import "./colors";
@import "./fonts";

.pokedex__pokemon,
.pokedex__header {
  @include flex(row, flex-start, flex-start);

  th {
    width: 100px;
  }
}

.pokedex__pokemon {
  &:nth-child(odd) {
    background-color: $grayodd;
  }
  &:nth-child(even) {
    background-color: $grayeven;
  }
}
