@import "./mixins";
@import "./colors";
@import "./fonts";
.team-creator__container {
  .team-creator__creator,
  .team-creator__pokelist {
    background-color: #fff;
    border-radius: 10px;
    border-top: 5px solid $headercolor;
    border-bottom: 5px solid $headercolor;
    margin: 20px;

    svg {
      width: 50px;
      height: 50px;

      margin: 5px;
      padding: 5px;
      border: 2px solid red;
      border-radius: 10px;
    }
  }
}

.team-creator__pokelist {
  img {
    width: 55px;
    height: 55px;
    object-fit: none;
    border: 5px solid transparent;
    &:hover {
      background-color: $menucolor;
      border-right: 5px solid $greencolor;
      border-bottom: 5px solid $greencolor;
      cursor: pointer;
    }
  }
}
.team-creator__creator {
  background-color: #fff;
  border-radius: 10px;
  border-top: 5px solid $headercolor;
  border-bottom: 5px solid $headercolor;
}
