@import "./colors";
@import "./fonts";
@import "./mixins.scss";

.teams__container {
  .teams__team {
    width: fit-content;
    @include flex(row, center, center);
    border-radius: 20px;
    margin: 10px;

    &:nth-child(odd) {
      background-color: $grayeven;
    }
    &:nth-child(even) {
      background-color: $grayodd;
    }
    .teams__sprites {
      img {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        margin: 5px 18px;
      }
    }
    .teams__id {
      text-shadow: 0px 1px 1px #000000;
      color: #fff;
      font-weight: bold;
      font-size: 30px;
      margin-right: 10px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .teams__team {
  }
}
